<div class="login-container">
  <div class="login-box">
    <h2 class="login-title">Login</h2>
    <form [formGroup]="loginForm" (ngSubmit)="login()" class="space-y-4">
      <input type="email" formControlName="email" placeholder="Email" class="login-input" />
      <input type="password" formControlName="password" placeholder="Password" class="login-input" />
      <div class="flex justify-between items-center">
        <button type="submit" class="login-button">Login</button>
        <a routerLink="/forgot-password" class="forgot-link">Forgot Password?</a>
      </div>
    </form>
  </div>
</div>
